  ul li{
    display: inline;
    color: antiquewhite;
    background-color: #252B31;
    border: #252B31;
    margin: 5px;px ;
    height: 50px;px ;
    
} 
.c2{
    background-color: #252B31;
}
h1{
    color: #258d71;
}
/* #unique{
    display: inline;
    color: rgb(126, 150, 226);
    background-color: #9299a0;
}  */
   
    